{{ define "main" }}
<style>
    .main-and-footer>div {
        max-width: 95%;
    }
</style>
<main id="main">
    <h1>{{ .Title }}</h1>

    <iframe id="agenda-economie-militante-transition-sociale-ecologique"
    style="background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;"
    src="{{ .Params.lienopencalendar }}"
    sandbox="allow-scripts allow-same-origin allow-top-navigation"
    allowTransparency="true" scrolling="no" 
    frameborder="0" height="500px" width="85%"></iframe>
    
    {{ .Content }}
    <p>Pour faire apparaître un évènement Facebook dans ce calendrier il suffit de partager son lien dans <a href="{{ .Params.groupefacebook }}" target="_blank">ce groupe</a>.<br>
    <i>Revenir à la <a href="../">liste des agendas</a>.</i></p>
</main>
{{ end }}