<h2> Strasbourg Furieuse</h2>

Démo de l'affichage au format calendrier :

<iframe id="strasbourg-furieuse"
    src="https://open-web-calendar.herokuapp.com/calendar.html?url=https%3A%2F%2Fwww.facebook.com%2Fevents%2Fical%2Fupcoming%2F%3Fuid%3D100035660286086%26key%3DAQCWGtR0hmw3N_8X&language=fr"
    sandbox="allow-scripts allow-same-origin allow-top-navigation"
    allowTransparency="true" scrolling="no" 
    frameborder="0" height="1200px" width="100%"></iframe>